{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#post}}
	<main id="content" class="content" role="main">
		<article class="{{post_class}}">
			<header class="post-header">
				<h1 class="post-title">{{{title}}}</h1>
			</header>

			{{#if feature_image}}
				<figure class="author-image">
					<img src="{{ img_url feature_image }}" alt="">
				</figure>
			{{/if}}

			<section class="post-content">
				{{ content }}
			</section>

			<footer class="post-meta">
				<section class="post-info">
					<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
					{{tags prefix=" on "}}
				</section>
			</footer>
		</article>

		<div id="disqus_thread"></div>
		<script>
			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
				var disqus_config = function () {
				this.page.url = "{{url}}";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "ghost-{{comment_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
			*/
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://jsdelivr.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</main>
{{/post}}
