{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#post}}
	<main id="content" class="content" role="main">
		<article class="{{post_class}}">
			<header class="post-header">
				<h1 class="post-title">{{{title}}}</h1>
			</header>

			{{#if feature_image}}
				<figure class="author-image">
					<img src="{{ img_url feature_image }}" alt="">
				</figure>
			{{/if}}

			<section class="post-content">
				{{ content }}
			</section>

			<footer class="post-meta">
				<section class="post-info">
					<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
					{{tags prefix=" on "}}
				</section>
			</footer>
		</article>
	</main>
{{/post}}
